@charset "EUC-KR";
		
		.clear:after{    /* 자식이 모두 float 을 사용할때 부모가 높이를 갖게하기 위함 */
		    content:"";
		    display:block;
		    clear:both;
		}


		* {
			box-sizing: border-box;
        }
        
        body {
            margin: 0;
            background-color: #f7f7f7;
            font-family: "맑은 고딕", sans-serif;
        }
        
        .container {
            max-width: 400px;
            margin: 20 auto;
            padding: 40px 20px;
            background-color: #fff;
            border: 1px solid #ddd;
            box-shadow: 0px 0px 5px #ddd;
            text-align: center;
        }
        
        .container-fluid {
        	margin-top : 100px;
        	margin-bottom : 150px;
        
        }
        
        .container h1 {
            margin-top: 0;
            margin-bottom: 20px;
            color: #333;
            font-size: 2em;
        }
        
       #join-form {
        width: 500px;
        margin: 0 auto;
        padding: 50px;
        background-color: #fff;
        border-radius: 10px;
        box-shadow: 0px 0px 10px #ccc;
      }
      
      #join-form h2 {
        margin-bottom: 20px;
        font-size: 2rem;
      }
      
      .input-wrap {
        display: flex;
        flex-direction: column;
        margin-bottom: 20px;
      }
      
      .input-mo {
        display: flex;
        flex-direction: column;
        margin-bottom: 10px;
      }
      
      .btn-wrap {
        display: flex;
        flex-direction: column;
      }
      
      .in {
         height:50px;
         width: 100%;
      }
      
      .gen {
         height:50px;
         width:100%;
      }
      
      .cit {
         height:50px;
         width:197px;
      }
      
      .btn-submit {
        width:100%;
        height:50px;
        background: linear-gradient(125deg,#81ecec,#6c5ce7,#81ecec);
        background-position: left;
        background-size: 200%;
        color:white;
        font-weight: 700;
        border:none;
        cursor:pointer;
        transition: 0.4s;
        margin-top:20px;
        font-size:18px;
      }

      .btn-submit:hover {
           background-position: right;
      }
      
      input:focus {
          outline: none;
      }
      
      .pswdImg {
          width: 18px;
          height: 20px;
          display: inline-block;
          position: absolute;
          top: 50%;
          right: 16px;
          margin-top: -10px;
          cursor: pointer;
      }
      
      .box {
          display: block;
          width: 100%;
          height: 50px;
          border: solid 1px #dadada;
          padding: 10px 14px 10px 14px;
          box-sizing: border-box;
          background: #fff;
          position: relative;
      }
      
      .int {
          display: block;
          position: relative;
          width: 100%;
          height: 29px;
          border: none;
          background: #fff;
          font-size: 15px;
      }
      
     .ine {
      	display: block;
        position: relative;
        width: 260px;
        background: #fff;
        font-size: 15px;
        float: left;
        border: solid 1px #dadada;
      	padding: 10px 14px 10px 14px;
      	height: 50px;
      	margin-bottom:10px;	
      }
      
      .inn {
      	display: block;
        position: relative;
        width: 260px;
        background: #fff;
        font-size: 15px;
        float: left;
        border: solid 1px #dadada;
      	padding: 10px 14px 10px 14px;
      	height: 30px;
      	margin-bottom:10px;	
      } 
      
      .inem {
      	position: relative;
      	width: 130px;
      	height : 50px;
      	float: left;
      	margin-left: 10px;
      	margin-bottom:10px;
      	
      	background: #819FF7;
      	background-size: 200%;
        color:white;
        font-weight: 500;
        border:none;
        cursor:pointer;
     
      }
      
      .innum {
      	position: relative;
      	width: 130px;
      	height : 30px;
      	float: left;
      	margin-left: 10px;
      	margin-bottom:10px;
      	
      	background: #8181F7;
      	background-size: 200%;
        color:white;
        font-weight: 500;
        border:none;
        cursor:pointer;
      }
      
      .box.int_pass {
          padding-right: 40px;
      }

      .box.int_pass_check {
          padding-right: 40px;
      }
      
      select {
          width: 100%;
          height: 29px;
          font-size: 15px;
          background: #fff;
          background-size: 20px 8px;
          -webkit-appearance: none;
          display: inline-block;
          text-align: start;
          border: solid 1px #dadada;
          cursor: default;
      }
      
      .la{
       font-size:22px;
       margin-bottom:10px;
      }
      
      .catego td {
       width : 130px;
       }
       
       .motable td{
       width: 195px;
       }
       
       .gory { 
       	margin-top:3px;
       }
       
       .pk {
       	display: flex;
       	
       }
       
       .pick {
       	display: inline-block;
       	font-size: 18px;
       	width: 150px;
       }
       
       .pickne {
       	display: inline-block;
       	font-size: 18px;
       	width: 150px;
       	
       }
       
      
      /* 에러메세지 */
   
      .error_next_box {
          margin-top: 9px;
          font-size: 12px;
          color: red;    
          display: none;
      }
      
      #alertTxt {
          position: absolute;
          top: 19px;
          right: 38px;
          font-size: 12px;
          color: red;
          display: none;
      }
      
      .olmessagef {color: red; margin-top:9px; font-size:12px;}
	  .olmessaget {color: green; margin-top:9px; font-size:12px;}